body{
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
    position: sticky;
    top: 0;
    background: #045061;
    padding: 0.7rem;
    width: 100%;
}
nav ul{
    display: flex;
}
.logo{
    width:12%;
}
.logo img{
    width: 100%;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    color: #ffff;
    
}


/* main-body */
.container-body{
    background: #045061;
}
.container-main{
    
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 10px;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
}
.indrouce{
    width: 50%;
    text-align: center;
    color: white;
}
.indrouce h1{
    font-size: 65px;
}
.indrouce p{
    font-size: 30px;
    line-height: 2;
}
.button-read button{
    padding: 10px 30px;
}
.button-download{
    display: flex;
    justify-content: center;
}
.button-download button{
    padding: 12px 50px;
    margin: 20px;
}
.title{
    text-align: center;
}
.text-nav{
    padding: 10px;
}
.subtitle{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 10px;
    
}
.text-nav {

    width: 10%;
    background: #047A94;
    color: #ffff;
    font-size: 15px;
    border-radius: 0 35px 0 0 ;
}
.subtitle .bt-bottom{
    width: 90%;
    /* background: subtitle; */
    border-bottom:4px solid #047A94;
}
.container-padding{
    padding: 10px;
}
.p-1{
    padding: 20px;
    background: rgba(128, 128, 128, 0.452);
    
}
.container-box{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* flex-wrap: wrap; */
}
.box-show{
    width: 28%;
    background: #fff;
    padding: 20px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.left-1{
    width: 95%;
    border: 10px solid #047A94
}
.right-1{
    border: 10px solid gray;
    width: 5%;
}
.left-2{
    width: 90%;
    border: 10px solid #047A94
}
.right-2{
    border: 10px solid gray;
    width: 10%;
}
.left-3{
    width: 70%;
    border: 10px solid #047A94
}
.right-3{
    border: 10px solid gray;
    width: 30%;
}

.left-5{
    width: 65%;
    border: 10px solid #047A94
}
.right-5{
    border: 10px solid gray;
    width: 45%;
}
.left-6{
    width: 75%;
    border: 10px solid #047A94
}
.right-6{
    border: 10px solid gray;
    width: 25%;
}
.Percentage{
    display: flex;
}

footer{
    padding: 10px;
    background: gray;
    display: flex;
    justify-content: space-around;
}

.logo-footer img{
    width: 65%;
}
.text-footer{
    width: 10%;
}
.contact-footer{
    width: 20%;
}
/*--------------------------------------*\
/* About page */
.main-img{
    box-sizing: border-box;
    width:100% ;
    height: 85vh;
    background-image:linear-gradient(rgba(32, 32, 32, 0.719),rgba(32, 32, 32, 0.75)),url(../images/New\ Project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-img h1{
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.main-img p{
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.pd-section{
    padding: 10px;
}
.main-card{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #033F4D;
}
.card-img{
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
    
}
.card-img img{
    width: 100%;
}
.card-text{
    width: 50%;
    box-sizing: border-box;
    font-size: 30px;
    
}
.images-container{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.bottom-img{
    margin-top: 5px;
}
/* hobbies page */

.first-img{
    background-image:linear-gradient(rgba(32, 32, 32, 0.719),rgba(32, 32, 32, 0.75)), url(../images/photo_2021-11-09_09-02-37.jpg);
    background-size: cover;
    height: 85vh;
    text-align: center;
}
.first-img h1,.first-img p{
    font-size: 50px;
    color:#ffff;
}
.pd-parent{
    padding: 10px;
}
.parent{
    padding: 10px;
    border: 2px solid #047A94;
}
.parent h1{
    text-align: center;
    font-size: 30px;
    background: #047A94;
    padding: 10px;
    color: #fff;
}
.d-child{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.child-img{
    width: 47%;
}
.child-img img{
    margin-top: 25px;
}
.child-text{
    display: flex;
    justify-content: center;
    width: 47%;
    font-size: 20px;

}
.child-text p{
    line-height: 2;
}

/* FOMR */
.container-contact{
    padding:10px;
}
form{
    background-color: rgba(0, 0, 0, 0.281);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 20px;
}
.contact-left{
    width: 50%;
    box-sizing: border-box;
    background-color: rgba(12, 12, 12, 0.438);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 30px;
}
.logo-contact img{
    width: 20%;
}
.form-name{
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    width: 45%;
    padding: 13px ;
}
input[type="email"],
input[type="password"]{
    width: 95.4%;
    padding: 13px ;
}
input[type="submit"]{
    padding: 13px 30px;
    font-size: 15px;
    font-weight: bold;
}
input[type="submit"]:hover{
    background: blue;
    border: none;
    color: #fff;
    
}
.logo-contact{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: space-between;
}
input{
    margin-top: 30px;
    border: none;
}
.contact-right{
    background-image:linear-gradient(rgba(110, 110, 110, 0.75),rgba(114, 114, 114, 0.75)), url(../images/coding.png);
    width: 50%;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contact-right h1,.contact-right h2,
.contact-right h3{
    text-align: center;
    color: #000;
}
.contact-right h1{
    font-size: 40px;
    font-weight: bold;
}
.map iframe{
    width: 100%;
}
/* ---------------------------------------- */
/* Tablet screen */
.group-wrap{
    flex-wrap: wrap;
    display: block
}
@media(max-width:1023px){
    .logo img{
        width:100%
        
    }
    nav{
        width: 100%;
        border-radius: none;
    }
    .indrouce h1{
        font-size: 35px;
    }
    .indrouce p{
        font-size: 18px;
        line-height: 2;
    }
}
@media(max-width:767px){
    
    .container-navbar{
        flex-wrap: wrap;
    }
    
    .indrouce h1{
        font-size: 35px;
    }
    .indrouce p{
        font-size: 15px;
        line-height: 2;
    }
    .group-wrap{
        flex-wrap: wrap;
        display: block
    }
        nav ul{
            /* flex-wrap: wrap; */
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        nav{
            background: #fff;
            padding: 0;
            width: 100%;
            margin: 0;
        }
        nav ul li{
            background: #045061;
            width: 100%;
            margin:5px 0;
            text-align: center;
            padding: 15px 0;

    
        }
        
    .container-main{
        flex-wrap: wrap;
        display: block;
        
    }
    .indrouce h1{
        font-size: 35px;
        
    }
    .indrouce p{
        font-size: 18px;
        line-height: 2;
    }
    .img{
        width: 100%;
    }
    .indrouce{
        width: 100%;
    }

    .text-nav{
        width: 20%;
    }
    .container-box{
        display:block;
        flex-wrap: wrap;
    }
    
    .box-show{
        width: 93%;
        margin: 1rem 0;
    }
 footer{
    display: block;
    text-align: center;
 }
 .logo-footer img{
    width: 25%;
 }
 .text-footer{
    text-align: center;
    width: 100%;
 }
 .media{
     display: flex
 }
.media img{
     text-align: center;
    padding: 5px;
    width: 100%;
 }
}



.a{
    display: flex;justify-content: center;
    align-items: center;
}






































 /* @media(max-width: 1023px){
    .container-navbar{
        flex-wrap: wrap;
        
    }
    
    nav{
        padding:1px;
    }
    .logo{
        width: 16%;
    }
    .logo img{
        width: 100%;
    }
    .container-navbar{
        display: flex;
        justify-content: center;
    }

    .indrouce h1{
        font-size: 34px;
    }
    .indrouce p{
        font-size: 21px;
    }
    .container-box{
        width: 100%;
        display: flex;
    }
    .box-show{
        /* flex-wrap: wrap;
        display: block; */
        width: 43%;
    }

    .card-group{
        flex-wrap: wrap;
    }
}
 @media(max-width: 760px){
    .box-show{
     flex-wrap: wrap;
        display: block; 
        width: 96%;
    }
} */