body{
    margin: 0;
    padding: 0;
}
/* navbar */
nav{
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background: #045061;
    padding: 0.7rem;
    /* width: %; */
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    color: #ffff;
    
}


/* main-body */
.container-body{
    background: #045061;
}
.container-main{
    
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 10px;
}
.img{
    width: 50%;
}
.img img{
    width: 100%;
}
.indrouce{
    width: 50%;
    text-align: center;
    color: white;
}
.indrouce h1{
    font-size: 65px;
}
.indrouce p{
    font-size: 30px;
    line-height: 2;
}
.button-read button{
    padding: 10px 30px;
}
.button-download{
    display: flex;
    justify-content: center;
}
.button-download button{
    padding: 12px 50px;
    margin: 20px;
}
.title{
    text-align: center;
}
.text-nav{
    padding: 10px;
}
.subtitle{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 10px;
    
}
.text-nav {

    width: 10%;
    background: #047A94;
    color: #ffff;
    font-size: 15px;
    border-radius: 0 35px 0 0 ;
}
.subtitle .bt-bottom{
    width: 90%;
    border-bottom:4px solid #047A94;
}
.container-padding{
    padding: 10px;
}
.container-box{
    background: rgba(128, 128, 128, 0.445);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.box-show1,.box-show2,.box-show3,.box-show4,.box-show5,
.box-show6{
    background: white;
    padding: 20px;
}

.left-1{
    width: 95%;
    border: 10px solid #047A94
}
.right-1{
    border: 10px solid gray;
    width: 5%;
}
.left-2{
    width: 90%;
    border: 10px solid #047A94
}
.right-2{
    border: 10px solid gray;
    width: 10%;
}
.left-3{
    width: 70%;
    border: 10px solid #047A94
}
.right-3{
    border: 10px solid gray;
    width: 30%;
}

.left-5{
    width: 65%;
    border: 10px solid #047A94
}
.right-5{
    border: 10px solid gray;
    width: 45%;
}
.left-6{
    width: 75%;
    border: 10px solid #047A94
}
.right-6{
    border: 10px solid gray;
    width: 25%;
}
.Percentage{
    display: flex;
} 
/* footer */
footer{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    background: gray;
    text-align: center;
}





/*--------------------------------------*\
/* About page */
.main-img{
    box-sizing: border-box;
    width:100% ;
    height: 85vh;
    background-image:linear-gradient(rgba(32, 32, 32, 0.719),rgba(32, 32, 32, 0.75)),url(../images/New\ Project.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-img h1{
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}
.main-img p{
    font-size: 35px;
    color: #fff;
    text-align: center;
}
.section1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    padding: 10px;
    
    
}

.grid1,.grid2,.grid3,.grid4,.grid5,.grid6{
    background-color: teal;
    height: 50vh;
}
.grid1{
    background: url(../images/images.!\ \(3\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid3{
    background: url(../images/images.!\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid5{
    background: url(../images/images.!\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section2{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    grid-template-areas:
    "child1 child1 child1 child2 child2 child2"
    "child1 child1 child1 child3 child3 child3"
    "child4 child4 child4 child5 child5 child5"
    "child6 child6 child7 child7 child8 child8";
    
}
.child1{
    grid-area: child1;
    background: teal;
    height:100vh ;
    background-image: url(../images/images.!\ \(5\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.child2{
    grid-area: child2;
    background: teal;
    background-image: url(../images/images.!\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.child3{
    grid-area: child3;
    background: teal;
    background-image: url(../images/images.!.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.child4{
    grid-area: child4;
    background: teal;
    height: 80vh;
    background-image: url(../images/images.!\ \(6\).jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.child5{
    grid-area: child5;
    background: teal;
    background-image: url(../images/images.!\ \(7\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.child6{
    grid-area: child6;
    background: teal;
    height: 120vh;
    background-image: url(../images/images.!\ \(8\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.child7{
    grid-area: child7;
    background: teal;
    height: 120vh;
    background-image: url(../images/images.!\ \(9\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.child8{
    grid-area: child8;
    background: teal;
    height: 120vh;
    background-image: url(../images/images.!\ \(10\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* hobbies page */

.first-img{
    background-image:linear-gradient(rgba(32, 32, 32, 0.719),rgba(32, 32, 32, 0.75)), url(../images/industry-g0a4b96680_1920.jpg);
    background-size: cover;
    height: 85vh;
    text-align: center;
}
.first-img h1,.first-img p{
    font-size: 50px;
    color:#ffff;
}
.main-box{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    border: 2px solid teal;
    padding: 20px;
    
    
}
.box1,.box2,.box3,.box4,.box5,
.box6,.box7,.box8,.box9,.box10,
.box11,.box12{
    background: teal;
    height: 70vh;

    
}
.box1{
    background-image: url(../images/New\ Project\ \(6\).jpg);
    
}
.box3{
    background-image: url(../images/New\ Project\ \(1\).jpg);
    
}
.box5{
    background-image: url(../images/New\ Project\ \(2\).jpg);
    
}
.box7{
    background-image: url(../images/New\ Project\ \(3\).jpg);
    
}
.box9{
    background-image: url(../images/New\ Project\ \(7\).jpg);
    
}
.box11{
    background-image: url(../images/New\ Project\ \(5\).jpg);
    
}

/* contact FOMR */
.container-contact{
    padding:10px;
}
form{
    background-color: rgba(0, 0, 0, 0.281);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 20px;
}
.contact-left{
    width: 50%;
    box-sizing: border-box;
    background-color: rgba(12, 12, 12, 0.438);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 30px;
}
.logo-contact img{
    width: 20%;
}
.form-name{
    display: flex;
    justify-content: space-between;
}
input[type="text"]{
    width: 44%;
    padding: 15px ;
}
input[type="email"],
input[type="password"]{
    box-sizing: border-box;
    width: 100%;
    padding: 15px ;
}
input[type="submit"]{
    padding: 13px 30px;
    font-size: 15px;
    font-weight: bold;
}
input[type="submit"]:hover{
    background: blue;
    border: none;
    color: #fff;
    
}
.logo-contact{
    text-align: center;
}
.submit{
    display: flex;
    justify-content: space-between;
}
input{
    margin-top: 35px;
    border: none;
}
.contact-right{
    height: 105vh;
    background-image:linear-gradient(rgba(110, 110, 110, 0.75),rgba(114, 114, 114, 0.75)), url(../images/coding.png);
    width: 50%;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contact-right h1,.contact-right h2,
.contact-right h3{
    text-align: center;
    color: #000;
}
.contact-right h1{
    font-size: 40px;
    font-weight: bold;
}
.map iframe{
    width: 100%;
}
/* ---------------------------------------- */
/* Tablet screen */
.group-wrap{
    flex-wrap: wrap;
    display: block
}
.a{
    display: flex;justify-content: center;
    align-items: center;
}
@media(max-width:1023px){
    .logo img{
        width:100%
        
    }
    nav{
        width: 100%;
        border-radius: none;
    }
    .indrouce h1{
        font-size: 35px;
    }
    .indrouce p{
        font-size: 18px;
        line-height: 2;
    }
    .main-img h1{
        font-size: 40px;

    }
    footer{
        display: grid;
        grid-template-columns: auto auto;

    }
    .grid-logo img{
        width: 20%;
    }
    .media{
        width: 100%;
    }
    
}
@media(max-width:767px){

    /* navbar */
    .container-navbar{
        flex-wrap: wrap;
    }
    
    
   
        nav ul{
            /* flex-wrap: wrap; */
            display: block;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        nav{
            background: #fff;
            padding: 0;
            width: 100%;
            margin: 0;
        }
        nav ul li{
            background: #045061;
            width: 100%;
            margin:5px 0;
            text-align: center;
            padding: 15px 0;

    
        }
        /* homepage */
        
    .container-main{
        flex-wrap: wrap;
        display: block;
        
    }
    .indrouce h1{
        font-size: 35px;
        
    }
    .indrouce p{
        font-size: 18px;
        line-height: 2;
    }
    .img{
        width: 100%;
    }
    .indrouce{
        width: 100%;
    }

    .text-nav{
        width: 20%;
    }
    .container-box{
        display: block;
        
    }
    .box-show1,.box-show2,.box-show3,.box-show4,.box-show5,.box-show6{
        margin-top: 10px;
    }
/* aboutpage */
.section1,.section2{
    display: block;
}
/* hobbies page */
.main-box{
    display: block;
}
/* .contact page */
form{
    display: block;
}
.contact-left,.contact-right{
    width: 100%;
}
.form-name{
   flex-wrap: wrap;
}


/* footer */
 footer{
    display: block;
    text-align: center;
 }
 
 .grid-logo img{
    display: none;
}
 
}










































 /* @media(max-width: 1023px){
    .container-navbar{
        flex-wrap: wrap;
        
    }
    
    nav{
        padding:1px;
    }
    .logo{
        width: 16%;
    }
    .logo img{
        width: 100%;
    }
    .container-navbar{
        display: flex;
        justify-content: center;
    }

    .indrouce h1{
        font-size: 34px;
    }
    .indrouce p{
        font-size: 21px;
    }
    .container-box{
        width: 100%;
        display: flex;
    }
    .box-show{
        /* flex-wrap: wrap;
        display: block; */
        width: 43%;
    }

    .card-group{
        flex-wrap: wrap;
    }
}
 @media(max-width: 760px){
    .box-show{
     flex-wrap: wrap;
        display: block; 
        width: 96%;
    }
} */